   /* Style the container to have fixed size and enable scrolling */
        .chart-container {
            width: 800px;
            height: 400px;
            overflow: auto;
        }

        #reportForm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    #generateReport {
        background-color: #007bff; /* Clinic blue */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Clinic chart title styling */
    .chart-title {
        font-size: 24px;
        font-weight: bold;
        color: #007bff; /* Clinic blue */
        margin-bottom: 10px;
    }

    /* Clinic chart container styling */
    .chart-container {
        background-color: #f8f9fa; /* Clinic light gray */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }