/* Style for the modal content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto;
    max-height: 900px; /* Set the maximum height */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    margin-top: 100px;
  }
  
  /* Center the modal content vertically and horizontally */
  .modal-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    height: 100vh; /* Adjust to desired height if needed */
  }
  
  /* Style for the form container */
  .auth-form-container {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Align form elements to the top */
  }
  
  /* Style for the form columns */
  .form-columns {
    display: flex;
    width: 100%;
  }
  
  /* Style for each column */
  .form-column {
    flex: 1;
    margin-right: 20px; /* Adjust the spacing between columns */
    box-sizing: border-box;
  }
  
  /* Style for form elements */
  .email,
  .password,
  .extra {
    margin-bottom: 20px; /* Adjust the vertical spacing between form elements */
  }
  
  /* Style for the button */
  .btn.app-btn-primary {
    /* Your button styles go here */
    background-color: #007bff; /* Example background color */
    color: #fff; /* Example text color */
    /* Add more styles as needed */
  }
  
  /* Rest of your CSS styles */


  .slideshow-container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .mySlides {
    display: none;
  }

  .slide-content {
    display: flex;
    flex-direction: row; /* Align text and image horizontally */
    align-items: center;
    justify-content: flex-start; /* Align text to the right of the image */
    text-align: left; /* Left-align text within the slide content */
    margin-bottom: 20px; /* Add spacing between slides */
  }

  .img-fluid {
    max-width: 100%;
    margin-right: 20px; /* Add spacing between image and text */
  }

  .text-container {
    flex-grow: 1; /* Allow text container to grow and fill available space */
    width: 500px; /* Set the width of the text container (adjust as needed) */
  }

  .slideshow-text {
    text-align: left; /* Left-align text within the slide content */
    width: 500px; /* Ensure the text takes up the full width within its container */
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
